@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 13% 94%; /* E0E1DD */
    --foreground: 220 18% 24%;
    --card: 220 13% 99%;
    --card-foreground: 220 18% 24%;
    --popover: 220 13% 99%;
    --popover-foreground: 220 18% 24%;
    --primary: 219 23% 57%; /* 778DA9 */
    --primary-foreground: 0 0% 100%;
    --secondary: 220 13% 94%;
    --secondary-foreground: 220 18% 24%;
    --muted: 220 13% 88%;
    --muted-foreground: 220 18% 40%;
    --accent: 218 30% 36%; /* 415A77 */
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 220 13% 88%;
    --input: 220 13% 88%;
    --ring: 218 30% 36%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 220 18% 12%;
    --foreground: 220 13% 94%;
    --card: 220 18% 15%;
    --card-foreground: 220 13% 94%;
    --popover: 220 18% 15%;
    --popover-foreground: 220 13% 94%;
    --primary: 219 23% 57%; /* 778DA9 */
    --primary-foreground: 0 0% 100%;
    --secondary: 220 18% 12%;
    --secondary-foreground: 220 13% 94%;
    --muted: 220 18% 20%;
    --muted-foreground: 220 13% 70%;
    --accent: 219 23% 70%;
    --accent-foreground: 220 18% 12%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    --border: 220 18% 25%;
    --input: 220 18% 25%;
    --ring: 219 23% 57%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
